/src/MSG.v11.suo
/src/MSG.UnitTests/bin/Debug
/src/MSG.UnitTests/obj/Debug
/src/MSG.ConsoleApp/bin/Debug
/src/MSG.ConsoleApp/obj/Debug
/src/MSG.DomainLogic/bin/Debug
/src/MSG.DomainLogic/obj/Debug
/src/MSG.sln.DotSettings.user
/docs/orig_src
/docs/readme.txt
/docs
/src/MSG.ConsoleApp/obj/Release
/src/MSG.ConsoleApp/bin/Release
/src/MSG.DomainLogic/obj/Release
/src/MSG.UnitTests/bin/Release
/src/MSG.UnitTests/obj/Release
/src/MSG.DomainLogic/bin/Release
/src/MSG.ConsoleApp/MSG.ConsoleApp.csproj.user
